body {
   margin: 0px;
   scroll-behavior: smooth;
}

header {
   position: fixed;
   display: grid;
   grid-template-columns: 1fr auto;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   background: #151a1a;
}

footer {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   bottom:0;
   left: 0;
   width:100%;
   /* height:60px; */
  /* line-height: 30px;*/
   text-align: center;
   background: #151a1a;
}

.foot {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   bottom:0;
   left: 0;
   width:100%;
   /* height:60px; */
  /* line-height: 30px;*/
   text-align: center;
   background: #151a1a;
   position:fixed
}

.logo {
   height: 75%;
   width: 142px;
   background-repeat: no-repeat;
   background-position: center;
   margin-left: 8px;
   margin-top: 8px;
}

.profile {
   border-radius: 50%;
   max-width: 60px;
   max-height: 60px;
}

.topnav {
    width: 25%;
    background-color: #151a1a;
    /* overflow: auto; */
    float: right;
    margin-top: 7px;
    display: flex;
    margin-right: 8px;
    position: relative;
}

.topnav a {
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  white-space: nowrap;
  text-decoration: none;
  font-size: 17px;
}


.intro {
   background: #0d7057;
   /*font-size: large;*/
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   height: 100%;
   width: 100%;
   margin-top: 50px;
   overflow: hidden;
   top: 30px;
}


.int {
   /* background: #A3C1AD; */
   /*font-size: large;*/
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   height: 260px;
   width: 100%;
   margin-top: 80px;
   margin-left: 20px;
   overflow: hidden;
}

.intro h1 {
   color: whitesmoke;
}

.intro h2 {
   padding: 8px;
   font-style: italic;
   color: whitesmoke;
}

.body {
   font-size: large;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: normal;
   margin-top: 0;
   background: #151a1a;
   padding: 8px;
}

.body h1 {
   color: whitesmoke;
}

.text {
   color: whitesmoke;
   padding: 2px;
   padding-left: 4px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.characterCard, .characterCard img {
  /* width: 33.33%; */
  width: 310px;
  height: 350px;
  object-fit: cover;
  text-align: center;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.characterCard:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.characterCard {
   border-radius: 30px;
   height: 400px;
   background-color: #413f3ff8;
   box-shadow: rgb(36 44 48) 1px 1px 15px;
   margin-top: 25px;
}

.py-8 {
   padding: 8px 0px;
   font-style: italic;
   color: whitesmoke;
}

/* Clear floats after image containers */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.doclink {
   text-decoration: none;
   color: wheat;
}

figcaption {
   color: whitesmoke;
}

@media (max-width: 500px) {
  .topnav > a > span {
    float: none;
    display: none;
  }

  .get {
     width: 100%;
     height: 100%;
  }
  
  .body p {
     font-size: medium;
     color: white;
  }
  .body h1 {
     color: white;
  }
  .characterCard {
     width: 80%;
  }
  .characterCard img {
     width: 100%;
  }
  .row {
     display: flex;
     justify-content: center;
  }
  .py-8 {
     color: white;
  }

  .intro {
     height: 100%;
  }
}